include AUTHORS.rst
include LICENSE
include README.md
include PYPI_LONG_DESCRIPTION.rst
include BRAINSTORMING.md
include DESIGN_THOUGHTS.md
include Makefile
include requirements.txt
include requirements_dev.txt
include xlseries/tests/*

recursive-include xlseries/tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat
